@model IEnumerable<blog_DACS.Models.Post>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout - Copy.cshtml";

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <!-- Gọi file CSS ở đây -->
    <link href="~/admin/card/cards.css" rel="stylesheet" />
</head>
<body>
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.Message
        </div>
    }
 
    <div class="col-md-4 mb-4">
        @foreach (var item in Model)
        {
            <article class="postcard dark blue">
                <a class="postcard__img_link" asp-action="Details" asp-route-id="@item.IdPost">
                    <img class="postcard__img" src="~/images/@item.ImagePost" width="" alt="Image Title" />
                </a>
                <div class="postcard__text">
                    <h1 class="postcard__title blue"><a asp-action="Details" asp-route-id="@item.IdPost">@item.Title</a></h1>
                    <div class="postcard__subtitle small">
                        <time>
                            <i class="fas fa-calendar-alt mr-2"></i>@item.CreatedAt
                        </time>
                    </div>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">@item.ContentPost</div>
                </div>
            </article>
        }
    </div>

          
               @*  <div class="card">
                    <img src="~/images/@item.ImagePost" class="card-img-top" alt="Fissure in Sandstone" />
                    <div class="card-body">
                        <h2 class="card-title">@item.Title</h2>
                        <p class="card-text">@item.CreatedAt</p>
                        <a asp-action="Details" asp-route-id="@item.IdPost" class="btn btn-primary" data-mdb-ripple-init>Xem</a>
                    </div>
                </div>
            
            <br /> *@
        }
    </div>
    
    
 @* <div class="cards-container">
    @foreach (var item in Model)
    {
            <div class="k-card">
                <div class="k-card-header">
                    <h1 class="k-card-title">@item.Title</h1>
                 
                </div>
                <img class="k-card-media" alt="@item.Title" src="~/images/@item.ImagePost" />
               
            </div>
             <a asp-action="Details" asp-route-id="@item.IdPost">Xem bài viết</a> |
    }
</div>
 *@
<nav>
    <ul class="pagination">
        @if ((int)ViewData["PageNumber"] > 1)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-page="@( (int)ViewData["PageNumber"] - 1 )">Previous</a>
            </li>
        }
        @for (int i = 1; i <= (int)ViewData["TotalPages"]; i++)
        {
            <li class="page-item @(i == (int)ViewData["PageNumber"] ? "active" : "")">
                <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
            </li>
        }
        @if ((int)ViewData["PageNumber"] < (int)ViewData["TotalPages"])
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-page="@( (int)ViewData["PageNumber"] + 1 )">Next</a>
            </li>
        }
    </ul>
</nav>
</body>
</html>
